# Data science tools and ecosystem

In this notebook, Data Science Tools and Ecosytem are Summarized

__objectives__

- SQL
- Python
- Java
- R

Some of the popular languages that Data Scientists use are:
    1.  Python
    2.  SQL
    3.  R 
    4.  C++

Some of the conmmonly used libraries used by Data Scientists include:
1. Numpy
2. ggplot2
3. Tensorflow
4. Pandas

|Data science tools|
|------------------|
|Jupyter           |
|R studio          |
|Github            |

###Below are a few examples of evaluating arithmetic expressions in Python###

This a simple arithmetic expression to mutiply then add integers

In [3]:
 (3*4)+5

17

In [4]:
#This will convert 200 minutes to hours by diving by 60

In [10]:
200/60

3.3333333333333335

## Author
Omiete